


h4{
    color:black;
    width: fit-content;
    margin: 0 auto;
    font-weight: bold;
    margin-top:8px;
}
.add{
    margin:20px 0 ;
}
.search{
    width: 300px;
}
#mytable{
    width: 100%;    
    margin-bottom: 20px;
    thead{
        margin:10px;
        height: 50px;
        background-color: #5E76C2;
        color: white;
        .stt{
            border-top-left-radius: 25px;
            
        }
        .del{
            
            border-top-right-radius: 25px;
        }
       
    }
    .stt{
       width: 5%;
        text-align: center;
    }
    .edit, .del{
        width: 5%;
        padding: 10px;
    }
    .doitac{
        width: 15%;
    }
    .mota{
        width: 30%;
    }
    .ten{
        width: 40%;
    }
    tbody tr{
        border-bottom:1px solid #5E76C2;

    }

}

