.image-slider-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 0;
    width: 100%;
    height: 90%;
    overflow: hidden;
    z-index: 1;
}

.offer-slider {
    margin-top: 100px;
}

.home-features {
    position: relative;
    z-index: 2;
    gap: 20px;
    display: flex;
    flex-direction: column;
    /* Đổi thành layout dạng cột */
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    text-align: center;
    margin-top: 500px;
    padding: 20px;
}

.feature-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.feature {
    width: 200px;
    border: 0.5px solid #e0e0e0;
    height: 200px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.search-bar {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.image-slider-container {
    width: 100%;
    height: 100%;
}

.image-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-slide {
    overflow: hidden;
    height: 600px;
    /* Giới hạn chiều cao của slide ở 500px */
}

/* Định dạng màu của feature khi hover */
.feature:hover {
    background: #4cb7bd;
    /* Thay đổi màu nền khi hover */
    color: #fbfbfc;
    /* Thay đổi màu chữ khi hover */
}

.search-bar input {
    width: 350px;
    height: 60px;
    outline: none;
    border: 3px solid #4cb7bd;
    border-radius: 5px;
    font-size: 20px;
}

.search-bar button {
    position: relative;
    text-align: center;


    width: 150px;
    height: 60px;
    padding: 10px;
    background: #4cb7bd;
    color: #030303;
    border-radius: 5px;
    cursor: pointer;
    border: 3px solid #4cb7bd;
    margin-left: 20px;
    transition: background-color 0.3s;
    font-size: 20px;
}

.search-bar button:hover {
    background: #4cb7bd;
    /* Thay đổi màu nền khi hover */
    color: #fbfbfc;
    /* Thay đổi màu chữ khi hover */
}

/* Ẩn dấu mũi tên điều hướng */
.slick-prev,
.slick-next {
    display: none;
}