.register-form {
    max-width: 550px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffffee;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.trum {
    transform: translateY(+12%);

}

.register-form label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.register-container {
    background-image: url(../../assets/image/login.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* Other styling for the login container */
    position: absolute;
    left: 0;
    right: 0;
    top: 65px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    /* Set the height to the full viewport height */
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    outline: none;
}

.page-title {
    text-align: center;
    color: #007bff;
    margin-bottom: 10px;
    font-size: 30px;
}

.register-form label {
    font-weight: bold;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.3s;
}

.register-button:hover {
    background: #e71515;
    /* Màu đỏ khi hover */
}
.register-container .button{
    background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
    margin: 0 8px;
}
.register-container .button:hover,.register-container .button:focus{
    background-color: #07c;
}
.register-container .button:focus{
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);

}
.register-container .button:active{
    background-color: #0064bd;
    box-shadow: none;
}
.register-container .button.back{
    background-color: #a8c3db;

}
.register-container .button.back:hover{
    background-color: rgb(23, 97, 150);

}
.register-form input.error{
    border: #e71515 1px solid;
}