.booking-info {
  .tt {
    background-color: #072a60 !important;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    color: whitesmoke;
  }
}
.booking-detail {
  border-left: #072a60 2px solid;
  border-right: #072a60 2px solid;
  border-bottom: #072a60 2px solid;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  min-height: 60vh;
  .row {
    justify-content: flex-start;
  }
}
.bookingDataBookingKs {
  border-left: 1px #072a60 solid;
  h3 {
    height: 50px;
  }
}
.hdsbk {
  background-color: #072a60;
  color: whitesmoke;
  height: 30px;
  font-size: 13pt;
  .stt {
  }
}
