/* HotelDetail.css */
.room-list {
    list-style: none;
    padding: 0;
    flex: 4.5;
}

.diachiphong {
    font-weight: 600;
    font-size: 20px;
}

/* .mota {
    font-weight: 600;
    font-size: 20px;
} */

.hotel-details-1 {
    margin-bottom: 2%;
    height: 40px;
    text-align: center;
    background-color: #293462;
    margin-left: 35%;
    margin-right: 35%;
    border-radius: 10px;
    color: #F7D716;
}

.room-item {
    border: 2px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
}

.room-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.room-details {
    color: #333;
    display: flex;
    flex-direction: column;
}

.room-details h3 {
    border-radius: 10px;
    height: 40px;
    margin-bottom: 10px;
    background-color: #293462;
    color: #fff;
}

.room-details p {
    margin: 0;
    margin-left: 1%;
    font-weight: 600;
}

/* Add more styles as needed */

/* Add this new style for the button wrapper */
.room-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;


}

.room-button-wrapper button {
    background-color: red;
    border-radius: 10px;
    padding: 8px 20px;
    border: none;
    color: #fff;

}

.cart-room {
    display: flex;
    width: 100%;
}

.tongtien {
    margin-left: 10px;

    border: 2px solid #ccc;
    height: 70%;
    margin-top: 65px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
}

.main-tong-tien {
    flex: 1;

}

.tongtien1 {
    text-align: center;
    background-color: #293462;
    border-radius: 5px;
    color: #F7D716;
}

.xac-nhan {
    width: 90%;
    height: 35px;
    margin-top: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: rgb(11, 11, 211);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.xac-nhan:hover {
    background-color: #293462;
}

/* Add this new style for the button */