.nav-login,
.nav-search,
.nav-cus_info {
    color: black;
    margin: 0 10px;
    text-decoration: none;

}

.nav-search {
    position: absolute;
    top: 8 px;
    right: 120px;
}

.nav-home {
    color: black;
    text-decoration: none;

}

.nav-input {
    padding: 8px 70px 8px 4px;
    outline: none;
    border: 2px solid rgb(62, 136, 221);
    border-radius: 5px;
}

.nav-main {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding-left: 200px;
    align-items: center;

}

.navbar-main {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    align-items: center;



}

.color {
    background-color: #fff;
}

.brand-text {
    font-size: 25px;
}