.lichtrinh {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 4px 12px;
  border-radius: 12px;
  justify-content: flex-start !important;
  table {
    h5 {
      margin: 8px;
    }
    thead {
      .ngay {
        border-top-left-radius: 12px;
      }
      .mota {
        border-top-right-radius: 12px;
      }
    }

    .ngay {
      width: 15%;
    }
    .diemden {
      width: 25%;
    }
    .del {
      width: 5%;
      background-color: rgba(255, 255, 255, 0);
    }
  }
}
.head {
  padding: 2% 0;
  position: relative;
  h2 {
    width: fit-content;
  }
  #addt {
    position: absolute;
    top: 30px;
    left: 10px;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.addlich {
  margin: 0 8px;
}
.anhbia {
  img {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
}
.pt {
  background-color: white;
  margin-top: 8px;
  overflow-y: scroll;
  position: fixed;
  width: 18%;
  max-height: 150px;

  .pt-item {
    padding: 4px;
  }
}
.selectedtransname {
  margin-right: 8px;
}

#selecitem {
  padding: 4px 0;
}
#dsphuongtien {
  background-color: white;
  padding: 2%;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  .selectlist {
    display: flex;
    justify-content: flex-start;
  }
  .dspttitle {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-weight: 500;
    }
  }
}
.tourinfo {
  background-color: white;
  padding: 12px 0;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
label {
  font-weight: 500;
}
.dd {
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
  width: 22%;
  border-radius: 8px;
  background-color: white;
  .dd-item {
    height: 50px;
    border-radius: 8px;
    span {
      padding-left: 8px;
      display: flex;
      height: 100%;
      align-items: center;
    }
  }
  .dd-item:hover {
    background-color: rgb(255, 251, 246);
    cursor: pointer;
  }
}

.search {
  width: 30%;
  margin: 20px 0;
}
