.tour-details {
    display: flex;
    margin-top: 2%;
}

.booking-section {
    flex: 1;

}

.tour-info {
    flex: 3.5;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;

}

.tour-info h2 {
    text-align: center;
    margin-bottom: 20px;

}

.tour-infop {
    margin-left: 2%;
}

.tour-infop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    font-weight: 600;
    font-size: 20px;
}

.tour-image {
    width: 96%;
    height: 40%;
    margin-left: 2%;
    border: 2px solid #000;
    border-radius: 10px;
    margin-bottom: 10px;

}

.booking-section {
    margin-left: 2%;
    border: 2px solid#000;
    border-radius: 5px;
    height: 30%;
    font-weight: 600;
    font-size: 20px;

}

.booking-section1 {
    flex: 1;
}

.booking-section h3 {
    text-align: center;
    background-color: #293462;
    color: #F7D716;

}

.booking-section input {
    margin-left: 4%;
    width: 92%;
    border-radius: 10px;
    text-align: center;
}

.booking-section p {
    margin-left: 2%;
}

.botton-xacnhan {
    margin-left: 2%;
    width: 98%;
    height: 40px;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #F7D716;
    color: #293462;
    font-size: 17px;
    font-weight: 600;

}

.botton-xacnhan:hover {
    background-color: #293462;
    color: #F7D716;

}