.botton-xacnhan {
  margin-left: 2%;
  width: 98%;
  height: 40px;
  border: none;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #b0980e;

  color: white;
  font-size: 17px;
  font-weight: 600;
}

.botton-xacnhan:hover {
  background-color: #f7d716;
  color: #293462;
}
.booking-section1 {
  margin: 0;
  padding: 2%;
  background-color: #293462;
  border-radius: 2%;
  height: fit-content;
  color: white;
  .booking-section {
    padding: 5%;
    input {
      height: 40px;
    }
    .row {
      align-items: center;
      padding: 4px;
      margin-top: 12px;
    }
  }
}
.tour-details {
  min-height: 90vh;
  padding: 2%;
  background-color: rgb(250, 248, 248);
  border-radius: 8px;
  h5 {
    margin: 2% 0;
  }
  .tour-info {
    .tour-image {
      border-radius: 8px;
      margin: 2% 0;

      .image {
        width: 100%;
        border-radius: 4px;
        height: 100%;
        object-fit: cover;
      }
    }
    .avai-slots {
      color: white !important;
      margin-left: 20px;
      .num {
        color: rgb(230, 110, 12) !important;
        margin-left: 20px;
        font-size: large;
      }
    }
    .mota {
      max-height: 270px;
      overflow-y: scroll;
      margin: 0;
      padding: 8px;
      background-color: white;
      border-radius: 4px;
    }
    .tour-infop {
      background-color: #293462;
      border-radius: 8px;
      color: whitesmoke;
      padding: 3% 2% 0 2%;
      margin: 2% 0;
      .row {
        align-items: center;
        padding: 0 8px 8px 8px;
      }
      p {
        padding: 8px;
        color: #ffffff;
      }
      span {
        font-weight: 700;
        color: #f7d716;
      }
      .gia {
        font-weight: 750 !important;
      }
      .dattour {
        .clk {
          width: 200px;
          background-color: #f77816;
          border-radius: 8px;
          padding: 4px;
          margin: 0 auto;
          cursor: pointer;
          span {
            color: azure !important;
          }
        }
        .clk:hover {
          background-color: #ff6f00;
        }
      }
    }
  }
}

.lichtrinh {
  .right {
    border-right: #293462 2px solid;
    height: fit-content;
  }
  .ngay {
    color: #293462;
    font-size: larger;
    font-weight: 700;
    width: 100%;
    .ind {
      font-size: medium;

      font-weight: 500 !important;
    }
  }
  .mota {
    font-size: 15px;
    text-align: left;
  }
  .ddd {
    justify-content: flex-end !important;
  }
}
