.custom-link {
    text-decoration: none;
    color: #000;
    /* Set the color you want for the link */
}

.tentieude {
    background-color: #293462;
    margin-left: 32%;
    margin-right: 32%;
    color: #fff;
    border-radius: 10px;

}